body
{
	font-family: "Source Sans Pro", Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #5a5a5a;
	font-weight: 300;
}

a
{
	color: #ff3535;
	text-decoration: none;
}

	a:hover
	{
		color: #000;
	}
	
::selection
{
	background: #f0da00;
	color: #FFF;
}

::-moz-selection
{
	background: #f0da00;
	color: #FFF;
}
	
.textleft
{
	text-align: left;
}
	
.textcentre
{
	text-align: center;
}
	
.textright
{
	text-align: right;
}

p
{
	margin: 0 0 20px 0;
}

strong, b
{
	font-weight: 700;
}

em, i
{
	font-style: italic;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 20px 0;
	font-weight: 500;
	letter-spacing: -1px;
	font-family: inherit;
	color: #444;
	font-family: Fira Sans;
}

	h1
	{
		font-size: 38px;
		line-height: 38px;
	}
	
	h2
	{
		font-size: 36px;
		line-height: 36px;
	}
	
	h3
	{
		font-size: 34px;
		line-height: 34px;
		letter-spacing: -0.2px;
	}
	
	h4
	{
		font-size: 32px;
		line-height: 32px;
		letter-spacing: -0.2px;
	}
	
	h5
	{
		font-size: 30px;
		line-height: 30px;
		letter-spacing: -0.2px;
	}
	
	h6
	{
		font-size: 26px;
		line-height: 26px;
		letter-spacing: -0.2px;
	}
	
ul
{
	margin: 0 0 20px 35px;
	list-style-type: square;
}

	ul li
	{
		padding: 0 0 0 2px;
	}

		ul ul
		{
			margin: 0 0 0 25px;
		}
		
ol
{
	margin: 0 0 20px 35px;
	list-style-type: decimal;
}

	ol li
	{
		padding: 0 0 0 2px;
	}

		ol ol
		{
			margin: 0 0 0 25px;
		}

hr
{
	clear: both;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
	border: none;
	border-top: 1px dashed #CCC;
	color: #333;
	text-align: center;
}


@media screen and (max-width: 768px)
{
		
	.textcentre
	{
		text-align: left;
	}
		
	.textright
	{
		text-align: left;
	}
	
}


